.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    position: relative;
    padding-top: 20px; /* Espacio superior */
    border: 5px solid #ff4081; /* Borde más ancho */
    border-radius: 15px; /* Mantener bordes redondeados */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Sombra adicional */
}
